{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container w-75 mx-auto p-5 mt-5 text-center  border border-3 border-secondary rounded-4">
    <h1>Welcome To Home page</h1>


<!--        <div class="mb-3">-->
<!--         <a href="{% url 'users:home' %}">Home</a>-->
<!--         <a href="{% url 'users:login' %}">Login</a>-->
<!--         <a href="{% url 'users:register' %}">Register</a>-->
<!--         <a href="{% url 'users:logout' %}">Logout</a>-->

<!--        </div>-->





</div>
{% endblock %}
